!!! 5
html(lang="en" ng-app)
	head
		title Pulaski County Compassion Resource Directory
		link(rel='stylesheet',href='/styles/styles.css')
		script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(type='text/javascript',src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
		script(type='text/javascript',src='js/main.js')
	
	body(ng-controller="crdCtrl")
		table
			tr
				th Organization
				th Comment
			tr(ng-repeat='item in items')
				td {{item.name}}
				td {{item.comment}}
		